PORT=3000
YOUTUBE_API_KEY=
PUPPETEER_CACHE_DIR=/home/marcelo/.cache/puppeteer
APPWRITE_ENDPOINT=https://fra.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
GITHUB_TOKEN=
APPWRITE_BUCKET_ID=preview_screenshots